In [106]:
import pandas as pd
import json
from pandas import json_normalize
#df = pd.read_json('./Data/data.json')
with open('./Data/data.json', 'r', encoding='utf-16') as file:
    data = json.load(file)

df = pd.DataFrame(data)

ImportError: cannot import name 'json' from 'pandas' (E:\models\Lib\site-packages\pandas\__init__.py)

In [101]:
aa = df.columns.tolist()
df = df.T
#list = pd.DataFrame(aa)
#res = pd.concat([df, list], axis=1)
df.items

<bound method DataFrame.items of              2021-01-01 00:20            2021-01-01 00:50 2021-01-01 01:20  \
0                           3                           2                2
1                          93                          93              100
2                           7                          11                7
3                        1004                        1004             1004
4  Light rain. Mostly cloudy.  Light rain. Mostly cloudy.   Mostly cloudy.

  2021-01-01 01:50 2021-01-01 02:20 2021-01-01 02:50 2021-01-01 03:20  \
0                2                2                2                2
1              100              100               93               93
2                4                4                2                4
3             1004             1004             1004             1005
4   Mostly cloudy.   Mostly cloudy.   Mostly cloudy.      Low clouds.

  2021-01-01 03:50 2021-01-01 04:20 2021-01-01 04:50  ... 2021-12-31 19:20  \
0                2                2                2  ...               10
1               93               93               93  ...               88
2                6                6                6  ...               19
3             1005             1005             1005  ...             1022
4    Drizzle. Fog.    Drizzle. Fog.    Drizzle. Fog.  ...  Passing clouds.

  2021-12-31 19:50 2021-12-31 20:20 2021-12-31 20:50 2021-12-31 21:20  \
0               11               10               11               11
1               82               88               82               82
2                7                9               15               19
3             1023             1024             1024             1024
4  Passing clouds.  Passing clouds.  Passing clouds.  Passing clouds.

  2021-12-31 21:50 2021-12-31 22:20 2021-12-31 22:50 2021-12-31 23:20  \
0               11               11               12               12
1               88               88               82               82
2               19               24               22               17
3             1024             1024             1024             1025
4  Passing clouds.  Passing clouds.  Passing clouds.  Passing clouds.

  2021-12-31 23:50
0               11
1               88
2               17
3             1025
4  Passing clouds.

[5 rows x 16993 columns]>

In [84]:
df
#dt.columns = ['date&time', 'temperature (°C)', 'humidity (%)', 'wind_speed (km/h)', 'precipitation']

,0,1,2,3,4,0
2021-01-01 00:20,3,93,7,1004,Light rain. Mostly cloudy.,NaN
2021-01-01 00:50,2,93,11,1004,Light rain. Mostly cloudy.,NaN
2021-01-01 01:20,2,100,7,1004,Mostly cloudy.,NaN
2021-01-01 01:50,2,100,4,1004,Mostly cloudy.,NaN
2021-01-01 02:20,2,100,4,1004,Mostly cloudy.,NaN
...,...,...,...,...,...,...
16988,NaN,NaN,NaN,NaN,NaN,2021-12-31 21:50
16989,NaN,NaN,NaN,NaN,NaN,2021-12-31 22:20
16990,NaN,NaN,NaN,NaN,NaN,2021-12-31 22:50
16991,NaN,NaN,NaN,NaN,NaN,2021-12-31 23:20
16992,NaN,NaN,NaN,NaN,NaN,2021-12-31 23:50

In [22]:
dt.to_csv('./Data/weather_data.csv', index=False)

C:\Users\bachm\AppData\Local\Temp\ipykernel_5380\3636380351.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dt['date&time'] = pd.to_datetime(dt['date&time'])

ValueError: Given date string "3" not likely a datetime, at position 0